<!DOCTYPE html>
<html>
<style>
    .field{
        margin-left:0;
        margin-right:0;
        background:  #BCD8F5  ;
        
    }
</style > 
<head>
    <title>Read me</title>
</head>
<body>
    <form action="" method="post">
		{% csrf_token %} 
        <div class="field">
            <h1>Hotfix ReadMe file generator tool</h1>
            <h4>This page would help developer on creating a hotfix readme file easily. Please fill in data with the hotfix information below, then click the submit button to preview the generated readme file.</h4>
            <p>--------------------------------------------------------------------------------------</p>
			<p>HF applied on:
               {{ form.hftype }}{{ form.hfapply }}
			</p>
			<p>
			The HF Number:
               {{ form.number }}
		    </P>
			<p>Released on {{ form.release_date }} </p>
			<p>Environment: {{form.environment}}</p>
			<P>Prerequisite Interim fix:</p>
			<p>{{ form.Prerequisite_Interim_fix }}</p>

			<P>Bugs Fixed:</p>
			<p>{{form.Bugs_Fixed}}</p>
			
			<p>Symptoms:</p>
			<p>{{form.Symptoms}}</p>
			
			<p>Cause:</p>
			<p>{{form.Cause}}</p>
			
			<p>Resolution:</p>
			<p>{{form.Resolution}}</p>
			
			<p>Affected Modules:</p>
			<p>{{form.Affected_Modules}}</p>
			<p> File Name &nbsp File Version &nbsp &nbsp Date &nbsp &nbsp &nbsp Time &nbsp &nbsp Platform</p>
			<p>{{form.Discribe}}</p>
			<p>
			Affected Server:<br>
            Install on Accessories Tier Server : {{form.Accessories_Server}} <br>
            Install on Interview Tier Server :  {{form.Interview_Server}}<br>
            Install on Web Tier Server :  {{form.Web_Server}}<br>
            Install on Author Tier Server :  {{form.Author_Server}}<br>
            Install on Reporter Tier Server :  {{form.Reporter_Server}}<br>
            Install on Remote Administration Tier Server :  {{form.Remote_Server}}<br>
            Install on Survey Tabulation Tier Server :  {{form.Survey_Server}}<br><br>
			</p>
			<div style="margin:0 auto; width:200px ">
			<input style="height: 40px; width:100px; font-size:18px" type="submit" value="Preview" >
			</div>
		</div>
	</form>
</body>
</html>