<!DOCTYPE html>
<html>
<style>
</style>
<head>
    <title>download_file</title>
</head>
<body>
	<p>This is a brief description of Interim Fix {{ form.number  }} for IBM SPSS Data Collection {{ form.hfapply }} {{form.hftype}}("Software").</P>
	<p>BY DOWNLOADING, INSTALLING, COPYING, ACCESSING, OR OTHERWISE USING THE SOFTWARE, YOU AGREE TO THE TERMS OF THE IBM LICENSE AGREEMENT UNDER WHICH YOU ACQUIRED IBM SPSS DATA COLLECTION.</p> 
	<p>BY AGREEING, YOU REPRESENT AND WARRANT THAT YOU HAVE FULL AUTHORITY TO ACCEPT THESE TERMS. IF YOU DO NOT AGREE TO THESE TERMS, </p>
	<p>- DO NOT DOWNLOAD, INSTALL, COPY, ACCESS, OR USE THE SOFTWARE; AND </p>
	<p>- PROMPTLY RETURN THE UNUSED MEDIA AND DOCUMENTATION TO THE PARTY FROM WHOM IT WAS OBTAINED. IF THE SOFTWARE WAS DOWNLOADED, DESTROY ALL COPIES OF THE SOFTWARE. </p>
	<p>Released on {{ form.release_date }} </p>
	<p>IBM SPSS Data Collection {{ form.hfapply }} {{ form.hftype }}  Interim Fix {{form.number}}, to be applied with IBM SPSS Data Collection {{ form.hfapply }} {{ form.hftype }} ({{form.environment}}) </p>
	<p>Note: This Interim Fix is available for IBM SPSS Data Collection {{ form.hfapply }} {{ form.hftype }}({{form.environment}}). </p>
	<br>
	<P>Prerequisite Interim fix:</p>
	<p>-------------------------</p>
	<p>{{form.Prerequisite_Interim_fix}} </p>
	<br>
	<P>Bugs Fixed:</p>
	<P>-------------------------</p>
	<p>{{form.Bugs_Fixed}}</p>
	<br>
	<p>Symptoms:</p>
	<p>-------------------------</p>
	<p>{{form.Symptoms}}</p>
	<br>
	<p>Cause:</p>
	<p>-------------------------</p>
	<p>{{form.Cause}}</p>
	<br>
	<p>Resolution:</p>
	<p>-------------------------</p>
	<p>{{form.Resolution}}</p>
	<br>
	<p>Affected Modules:</p>
	<p>-------------------------</p>
	<p>{{form.Affected_Modules}}</p>
	<br>
	<p> File Name &nbsp &nbsp File Version &nbsp &nbsp Date &nbsp  &nbsp Time &nbsp &nbsp Platform</p>
	<p>--------------------------------------------------------------------------------</p>
	<br>{{form.Discribe}}
	<p>
	{% if form.hfapply == "Server" %}
		<p>Affected Servers:</p>
		<p>-------------------------</p>
		Install on Accessories Tier Server :   {{form.Accessories_Server}}<br>
		Install on Interview Tier Server :   {{form.Interview_Server}}<br>
		Install on Web Tier Server :   {{form.Web_Server}}<br>
		Install on Author Tier Server :   {{form.Author_Server}}<br>
		Install on Reporter Tier Server :   {{form.Reporter_Server}}<br>
		Install on Remote Administration Tier Server :   {{form.Remote_Server}}<br>
		Install on Survey Tabulation Tier Server :    {{form.Survey_Server}}<br>
		<p>Installation Instructions:</p>
		<p>-------------------------</p>
		<p>Note: If you are not Administrator, you have two options for installing the Interim Fix on Windows Vista, Windows 7 and Windows Server 2008:</p>
		<p>(1) Run the exe file, as an administrator, from a Windows command prompt. </p>
		<br>
		<p>(2) You can alternately turn off Windows UAC and reboot the computer before running the interim fix installer.</p>
		<br>
		{% if form.Reporter_Server == "Yes" and form.Survey_Server == "Yes" %}
			Carry out the following steps on all Survey Tabulation and Survey Reporter servers:<br><br>
		{% elif form.Reporter_Server == "Yes" %}
			Carry out the following steps on all Survey Reporter servers:<br><br>
		{% elif form.Survey_Server == "Yes" %}
			Carry out the following steps on all Survey Tabulation:<br><br>
		{% else %}
			Carry out the following steps on all Affected servers:<br><br>
		{% endif %}
		<p>1. Backup the original file by adding the ".pre{{form.hftype|cut:". "|cut:"Fix"|cut:"ack"|lower}}IF{{form.number}}" extension suffix to the file name.<br><br>
			&nbsp &nbsp For example, the file "{{form.Discribe|truncatewords:1|cut:" ..."}}" should be renamed "{{form.Discribe|truncatewords:1|cut:" ..."}}.pre{{form.hftype|cut:"."|cut:" "|cut:"Fix"|cut:"ack"|lower}}IF{{form.number}}"<br><br>
			&nbsp &nbsp {{form.Affected_Modules}}<br>
		2. Run the "IBM SPSS Data Collection Server {{form.hftype}} Interim Fix {{form.number}} {{form.environment}}.exe" installer.<br>
		3. Restart IIS.<br>
			&nbsp &nbsp iisreset<br>
		</p>
		<p>Uninstallation Instructions:</p>
		<p>-------------------------</p>
		{% if form.Reporter_Server == "Yes" and form.Survey_Server == "Yes" %}
			Carry out the following steps on all Survey Tabulation and Survey Reporter servers:<br><br>
		{% elif form.Reporter_Server == "Yes" %}
			Carry out the following steps on all Survey Reporter servers:<br><br>
		{% elif form.Survey_Server == "Yes" %}
			Carry out the following steps on all Survey Tabulation:<br><br>
		{% else %}
			Carry out the following steps on all Affected servers:<br><br>
		{% endif %}
		1. Uninstall "IBM SPSS Data Collection Server {{form.hftype}} Fix Pack 1 Interim Fix {{ form.number  }}  ({{form.environment}})" from the Windows Control Panel's "Add or Remove Programs" feature.<br>
		2. Run the following command to restart the IIS server:<br>
			iisreset<br>
		3. Restore the backup file by removing ".pre{{form.hftype|cut:"."|cut:" "|cut:"Fix"|cut:"ack"|lower}}IF{{form.number}}" from the end of the file name. If the original file exists, you must first delete it to ensure that renaming will work.<br>
			&nbsp &nbsp For example the file "TOM.dll.pre601p1IF210A" should be renamed "TOM.dll".<br>
			&nbsp &nbsp {{form.Affected_Modules}}<br>
		4. Run the following command to restart the IIS server:<br>
			&nbsp &nbsp iisreset<br>
	{% endif %}
	</p>
	{% if form.hfapply == "Desktop" %}
		<p>Installation Instructions:</p>
		<p>-------------------------</p>
		<p>
		Carry out the following steps on all Desktop application workstations: <br>
		1. Close all Data Collection applications (such as Author and Professional).<br>
		2. Backup the following file by adding the ".pre{{form.hftype|cut:"."|cut:" "|cut:"Fix"|cut:"ack"|lower}}IF{{form.number}}" extension suffix to the file name.<br>
			&nbsp &nbsp For example, {{form.Discribe|truncatewords:1|cut:" ..."}}" should be renamed "{{form.Discribe|truncatewords:1|cut:" ..."}}.dll.pre{{form.hftype|cut:"."|cut:" "|cut:"Fix"|cut:"ack"|lower}}IF{{form.number}}"<br>
			&nbsp &nbsp {{form.Affected_Modules}}<br>
		3. Run the "IBM SPSS Data Collection Desktop {{form.hftype}} Interim Fix {{form.number}} ({{form.environment}}).exe".<br>
		</p>
		<P>Uninstall Instructions:</P>
		<P>-----------------------</P>
		<p>Carry out the following steps on all Desktop application workstations: <br>
		1. Close all Data Collection applications (such as Author and Professional).<br>
		2. Uninstall "IBM SPSS Data Collection Desktop {{form.hftype}} Interim Fix {{form.number}} ({{form.environment}})" from the Windows Control Panel's "Add or Remove Programs" feature.<br>
		3. Restore the backup file by removing ".pre{{form.hftype|cut:"."|cut:" "|cut:"Fix"|cut:"ack"|lower}}IF{{form.number}}" from the end of the file name. If the original file exists, you must first delete it to ensure that renaming will work.<br>
			&nbsp &nbsp For example the file {{form.Discribe|truncatewords:1|cut:" ..."}}" should be renamed "{{form.Discribe|truncatewords:1|cut:" ..."}}.pre{{form.hftype|cut:"."|cut:" "|cut:"Fix"|cut:"ack"|lower}}IF{{form.number}}"<br>
			&nbsp &nbsp {{form.Affected_Modules}}<br>
		</p>
	{% endif %}
	{% if form.hfapply == "Desktop/Server" %}
		<p>Affected Servers:</p>
		<p>-------------------------</p>
		Install on Accessories Tier Server :   {{form.Accessories_Server}}<br>
		Install on Interview Tier Server :   {{form.Interview_Server}}<br>
		Install on Web Tier Server :   {{form.Web_Server}}<br>
		Install on Author Tier Server :   {{form.Author_Server}}<br>
		Install on Reporter Tier Server :   {{form.Reporter_Server}}<br>
		Install on Remote Administration Tier Server :   {{form.Remote_Server}}<br>
		Install on Survey Tabulation Tier Server :    {{form.Survey_Server}}<br>
		<p>Installation Instructions:</p>
		<p>-------------------------</p>
		<p>Note: If you are not an Administrator, you have two options for installing the interim fix on Windows Vista, Windows 7, and Windows Server 2008:<br>
		(1) Run the exe file, as an administrator, from a Windows command prompt. <br>
		(2) You can alternately turn off Windows UAC and reboot the computer before running the interim fix installer.<br>
		Carry out the following steps on all Desktop application workstations:<br>
		1. Close all Data Collection applications, such as Survey Reporter and Base Professional.<br>
		2. Make a copy of the original file by adding the ".pre{{form.hftype|cut:"."|cut:" "|cut:"Fix"|cut:"ack"|lower}}IF{{form.number}}" extension suffix to the file name. <br>
			&nbsp &nbsp For example, {{form.Discribe|truncatewords:1|cut:" ..."}}" should be renamed "{{form.Discribe|truncatewords:1|cut:" ..."}}.pre{{form.hftype|cut:"."|cut:" "|cut:"Fix"|cut:"ack"|lower}}IF{{form.number}}"<br>
			&nbsp &nbsp {{form.Affected_Modules}}<br>
		3. Run the "IBM SPSS Data Collection Desktop {{form.hftype}} Interim Fix {{form.number}} (x86).exe" or "IBM SPSS Data Collection Desktop {{form.hftype}} Interim Fix {{form.number}} (x64).exe" installer.<br>
		</p>
		<p>Carry out the following steps on all Accessory and Interviewing servers:<br>
		1. Backup the following file by adding the ".pre{{form.hftype|cut:"."|cut:" "|cut:"Fix"|cut:"ack"|lower}}IF{{form.number}}" extension suffix to the file name.<br>
			&nbsp &nbsp For example the file "{{form.Discribe|truncatewords:1|cut:" ..."}}" should be renamed "{{form.Discribe|truncatewords:1|cut:" ..."}}.pre{{form.hftype|cut:"."|cut:" "|cut:"Fix"|cut:"ack"|lower}}IF{{form.number}}"<br>
			&nbsp  &nbsp {{form.Affected_Modules}}<br>
		2. Run the "IBM SPSS Data Collection Server {{form.hftype}} Interim Fix {{form.number}} ({{form.environment}}).exe" installer.<br>
		3. Restart IIS.<br>
		&nbsp &nbsp iisreset<br>
		</p>
		<p>Uninstall Instructions:</p>
		<p>-----------------------</p>
		<p>Carry out the following steps on all Desktop application workstations: <br>
		1. Close all Data Collections applications, such as Survey Reporter and Base Professional.<br>
		2. Uninstall "IBM SPSS Data Collection Desktop {{form.hftype}} Interim Fix {{form.number}} (x86)" or "IBM SPSS Data Collection Desktop {{form.hftype}} Interim Fix {{form.number}} (x64).exe" from the Windows Control Panel's "Add or Remove Programs" feature.<br>
		3. Restore the backup file by removing the ".pre{{form.hftype|cut:"."|cut:" "|cut:"Fix"|cut:"ack"|lower}}IF{{form.number}}" extension. If the original file is still present, you must first delete the file to ensure that renaming the backup file will work.<br>
			&nbsp &nbsp For example, {{form.Discribe|truncatewords:1|cut:" ..."}}" should be renamed "{{form.Discribe|truncatewords:1|cut:" ..."}}.pre{{form.hftype|cut:"."|cut:" "|cut:"Fix"|cut:"ack"|lower}}IF{{form.number}}"<br>
			&nbsp &nbsp {{form.Affected_Modules}}<br>
		<br>
		Carry out the following steps on all Accessory and Interviewing servers:<br>
		1. Uninstall "IBM SPSS Data Collection Server {{form.hftype}} Interim Fix {{form.number}} ({{form.environment}})" from the Windows Control Panel's "Add or Remove Programs" feature.<br>
		2. Restart IIS.<br>
			&nbsp &nbsp  iisreset<br>
		3. Restore the backup file by removing the ".pre{{form.hftype|cut:"."|cut:" "|cut:"Fix"|cut:"ack"|lower}}IF{{form.number}}" extension. If the original file is still present, you must first delete the file to ensure that renaming the backup file will work.<br>
			&nbsp &nbsp  For example,{{form.Discribe|truncatewords:1|cut:" ..."}}" should be renamed "{{form.Discribe|truncatewords:1|cut:" ..."}}.pre{{form.hftype|cut:"."|cut:" "|cut:"Fix"|cut:"ack"|lower}}IF{{form.number}}"<br>
			&nbsp &nbsp  {{form.Affected_Modules}}<br>
		4. Restart IIS.<br>
			&nbsp &nbsp iisreset<br>
	{% endif %}
	<p>------------------------------------</p>
	<p>Licensed Materials - Property of IBM</p>
	<p>(C) Copyright IBM Corp.2000 ,2015. </p>
	<p>US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.</p>
	<div style="dispaly:inline">
		<div id="div1" style="float:right; margin-right:450px;">
			<style type="text/css">
				a:link{
				height:30px;
				padding:4px;
				font-size:20px;
				width:90px;
				display:block;
				text-align:center;
				text-decoration:none;
				border:1px solid #C7D7F0;
				color:#333;
				background-color:#FFCC77; 
				} 
				a:hover{
				height:30px;
				padding:4px;
				font-size:18px;
				display:block;
				width:90px;
				text-align:center;
				border:1px solid #0000FF;
				color:#333;
				background-color:#C7D7F0;
				text-decoration:none;
				} 
			</style>
			<a href="/Readme.txt">Download</a>
		</div>
		<div id="div2" style="float:left; margin-left:450px;"> 
			<style type="text/css">
				a:link{
				height:30px;
				padding:4px;
				font-size:20px;
				width:90px;
				display:block;
				text-align:center;
				text-decoration:none;
				border:1px solid #C7D7F0;
				color:#333;
				background-color:#FFCC77; 
				}
				a:hover{
				height:30px;
				padding:4px;
				font-size:18px;
				display:block;
				width:90px;
				text-align:center;
				border:1px solid #0000FF;
				color:#333;
				background-color:#C7D7F0;
				text-decoration:none;
				} 
			</style>
			<a href="javascript:history.back(-1);">Back</a>
		</div> 
	</div>
</body>
</html>