body{
	font-size:62.5% ;
	margin:0 auto;
	padding:0 2em;
	background-color:#dcdcdc;
	font-family: ;
	/* background:url("1.jpg") */
}
.page1{
	width:60%;
	margin:0 auto;
}
.numbers{
	margin:2em auto ;
	/* text-align:center; */
	background-color:white;
	border:2px solide white;
	/* width:60%; */
	height:6em;
	padding-bottom:2em;
}
.item{
	text-align:center;
	padding-top:.6em;
	font-size:1em;
	text-transform:uppercase;
	list-style-type:none;
	float:left;
	width:24%;
	box-sizing: border-box;
	border-bottom: 5px solid transparent;
	transition: all .3s ease-in;
 } 
.item h4{
	color:#dcdcdc;
}
.item p{
	margin-top:1em;
	font-weight:bold;
}
.item:hover {
	border-bottom: 3px solid hsl(210, 40%,60%);
	transform:scale(1.2);
}

.post{
	margin:1em auto;
	position:relative;
	border:2px solide white;
	background-color:white;
	height:60em;
}
.avator{
	width: 5em;
	height: 5em;
	border-radius: 100%;
	position: absolute;
	top: 1.5em;
	left: 2em;
}
.content header{
	padding-top:.5em ;
	padding-bottom:1em;
}
.name{
	position:absolute;
	font-size:1.5em;
	font-weight:blod;
	padding:1em 2em 2em 5.5em;
}
.account{
	position:absolute;
	font-size:1em;
	padding:2em 6em 0.2em 18em;
	color:#dcdcdc;
}
.time{
	position:absolute;
	padding-left:60em;
	padding-top:2em;
	padding-bottom:2em;
	/* padding-left:30em; */
	color:#dcdcdc;
}
.content  p{
position:absolute;
padding: .8em 2em 1em  5.5em;
color:#cc9966;
font-size: 1.5em;
}
hr{
	color:#efefef;
	size:2px;
	opacity:0.33;
	width:100%;
}

.toux{
	width: 5em;
	height: 5em;
	border-radius: 100%;
	position: absolute;
	top: 18em;
	left: 2em;
}
.chatu{
	width: 40em;
	height: 25em;
	position:absolute;
	padding:6em 3.5em ;
	left: 5em;
}
.page0{
	position:relative;
	width:25em;
	height:79em;
	margin:-80em 0;
	background:linear-gradient(to bottom, #6699ff, #6688cc);
}
.page2{
	float:right;
	top:0;
	right:0;
	width:25em;
	height:150em;
	margin:-80em 0;
	background-color:white;
	opacity:0.8;
}
.home{
	position:absolute;
	width:10em;
	height:10em;
	border-radius: 100%;
	margin:10em 7.5em;
}
.sign{
	position:absolute;
	color:white;
	opacity:.8;
	font-size:1.5em;
	text-shadow:2px 2px 1px #6699aa;
	margin:14em 2.5em;
	width:11em;
	text-align:center;
	/* text-indent:-0.4em; */
}
.link{
	position:absolute;
	color:white;
	font-size:1em;
	opacity:.6;
	margin:32em 8em;
	
}